<h1 id="storeHeading">{{store.name}}</h1>
<p id="brickColors">{{store.brickColors.length}}</p>
<ul ng-repeat="color in store.brickColors">
  <li id="color-{{color}}" ng-if="store.bricks[color]">
    {{color}}
    <section id="colorList" ng-repeat="brick in store.bricks[color]">
      <ul ng-class="{'low-stock': brick.quantity < 10, 'coming-soon': brick.quantity < 5}">
      <li>Size:</li>
      <li>Quantity:{{brick.quantity}}</li>
      <li>Price:{{brick.price}}</li>
      </ul>
      <button ng-click="store.buy(brick)">Buy</button>
      <button ng-click="store.return(brick)">Return</button>
    </section>

  </li>
</ul>
